/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.app-container {
  display: flex;
  height: 100vh;
}

.content-container {
  flex-grow: 1;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0073e6;
}

h1 {
  color: white;
  font-size: 5rem;
  font-weight: bold;
  text-align: center;
}

.Logout {
  margin-right: 20px;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 0.3rem 1.4rem;
}

.MuiListItem-root {
  justify-content: center;
}

.MuiTypography-root {
  font-weight: bold;
  text-align: center;
}

.main-content {
  margin-left: 80px;  /* Match this to the width of your sidebar */
  padding: 20px;
  height: 100vh;
  background-color: #0073e6;  /* Blue background */
  display: flex;
  justify-content: center;
  align-items: center;
}
